body {
  background-color: #555;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

.content-area {
  width: 100%;
  height: 80%;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
}
.content-area > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  flex-wrap: wrap;
  font-weight: bold;
  line-height: 1.75em;
  white-space: pre-wrap;
  border: dashed 3px #555;
  border-radius: 10px;
  padding: 15px;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .content-area > div {
    font-size: 16px;
  }
}

.ReactModal__Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 10px 10px rgba(51, 51, 51, 0.2);
}
.ReactModal__Content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  width: 100%;
}
.ReactModal__Content > div textarea {
  resize: none;
  width: 80%;
  border: 2px solid #777;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}
.ReactModal__Content .close-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 0;
  margin: 0 0 0 auto;
}
.ReactModal__Content .close-btn > svg {
  color: #ff3c3c;
}
.ReactModal__Content .submit-btn {
  width: auto;
  height: auto;
  color: #fff;
  border-radius: 5px;
  background-color: blueviolet;
  padding: 10px 30px;
}

#simple .content-area > div {
  position: relative;
}
#simple .content-area .placeholder {
  height: 100%;
  color: #777;
  overflow-y: scroll;
}
#simple .content-area .placeholder::-webkit-scrollbar {
  display: none;
}
#simple textarea {
  text-align: center;
  overflow: scroll;
  resize: none;
  width: 100%;
  height: 50%;
}
#simple textarea::-webkit-scrollbar {
  display: none;
}
#simple textarea.placeholder {
  height: 100%;
  color: #777;
}
#simple p {
  text-align: center;
}

button {
  width: 75px;
  height: 75px;
  background-color: hsl(0deg, 0%, 100%);
  padding: 5px;
  border-radius: 100%;
  color: inherit;
  cursor: pointer;
}
button.none {
  display: none;
}
button svg {
  width: 100%;
  height: auto;
}
button > div {
  width: 100%;
  height: 100%;
  border: 3px solid #555;
  border-radius: 100%;
  padding: 10px;
}
button > div svg {
  width: 100%;
  height: auto;
}
button.start-btn svg {
  color: #333;
}
button.stop-btn {
  display: none;
}
button.stop-btn svg {
  color: #ff0000;
}
button.speaker-btn {
  position: absolute;
  bottom: 10%;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: #333;
}
button.speaker-btn svg {
  width: 100%;
  height: 100%;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  height: calc(100vh - 120px);
  height: calc(100dvh - 120px);
  padding: 30px;
  margin: 0 auto;
}
