body {
  background-color: #555;
}

.content-area {
  width: 100%;
  height: 80%;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
}
.content-area > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  flex-wrap: wrap;
  font-weight: bold;
  line-height: 1.75em;
  white-space: pre-wrap;
  border: dashed 3px #555;
  border-radius: 10px;
  padding: 15px;
  font-size: 24px;
}

.ReactModal__Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 10px 10px rgba(51, 51, 51, 0.2);
}
.ReactModal__Content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  width: 100%;
}
.ReactModal__Content > div textarea {
  resize: none;
  width: 80%;
  border: 2px solid #777;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}
.ReactModal__Content .close-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 0;
  margin: 0 0 0 auto;
}
.ReactModal__Content .close-btn > svg {
  color: #ff3c3c;
}
.ReactModal__Content .submit-btn {
  width: auto;
  height: auto;
  color: #fff;
  border-radius: 5px;
  background-color: blueviolet;
  padding: 10px 30px;
}

#simple .content-area > div {
  position: relative;
}
#simple .content-area .placeholder {
  height: 100%;
  color: #777;
  overflow-y: scroll;
}
#simple .content-area .placeholder::-webkit-scrollbar {
  display: none;
}
#simple textarea {
  text-align: center;
  overflow: scroll;
  resize: none;
  width: 100%;
  height: 50%;
}
#simple textarea::-webkit-scrollbar {
  display: none;
}
#simple textarea.placeholder {
  height: 100%;
  color: #777;
}
#simple p {
  text-align: center;
}

button {
  width: 75px;
  height: 75px;
  background-color: hsl(0deg, 0%, 100%);
  padding: 5px;
  border-radius: 100%;
  color: inherit;
  cursor: pointer;
}
button.none {
  display: none;
}
button svg {
  width: 100%;
  height: auto;
}
button > div {
  width: 100%;
  height: 100%;
  border: 3px solid #555;
  border-radius: 100%;
  padding: 10px;
}
button > div svg {
  width: 100%;
  height: auto;
}
button.start-btn svg {
  color: #333;
}
button.stop-btn {
  display: none;
}
button.stop-btn svg {
  color: #ff0000;
}
button.speaker-btn {
  position: absolute;
  bottom: 10%;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: #333;
}
button.speaker-btn svg {
  width: 100%;
  height: 100%;
  color: #fff;
}

#image .image-area > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#image .image-area > button {
  width: auto;
  height: auto;
  position: absolute;
  border-radius: 5px;
  white-space: nowrap;
  color: #fff;
  background-image: linear-gradient(90deg, rgb(103, 126, 250), rgb(142, 84, 219));
  border: #333 3px solid;
  box-shadow: #fff 0 0 5px 5px;
}
#image .input-area {
  padding: 15px;
}
#image .input-area label {
  padding: 10px 40px;
  color: #ffffff;
  background-color: #384878;
  cursor: pointer;
  background-image: linear-gradient(90deg, rgb(103, 126, 250), rgb(142, 84, 219));
  border-radius: 10px;
  border: #fff solid 3px;
}
#image .input-area input[type=file] {
  display: none;
}

#calculator .content-area {
  height: 60%;
}
#calculator .input-area {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
}
#calculator .btn-area {
  margin-bottom: 15px;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#calculator .user-input {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#calculator button {
  width: 90px;
  height: auto;
  border-radius: 5px;
  border: 2px solid #333;
  font-weight: bold;
  white-space: nowrap;
}
#calculator button.active {
  color: #fff;
  background-color: #3c87ff;
}
#calculator input {
  border: #333 2px solid;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
#calculator .time {
  font-weight: normal;
  font-size: 0.75em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 120px);
  height: calc(100dvh - 120px);
  padding: 30px;
}