body {
  background-color: #555;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 60px);
  height: calc(100dvh - 60px);
  padding: 30px;
}

.content-area {
  width: 100%;
  height: 80%;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
}
.content-area > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.75em;
  white-space: pre-wrap;
  border: dashed 3px #555;
  border-radius: 15px;
  padding: 15px;
}

#header {
  width: 100%;
  height: 60px;
  padding: 15px 30px 0;
}
#header .select-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  position: relative;
  margin: 0 0 0 auto;
}
#header .select-box::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #555 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
#header .select-box select {
  height: 100%;
  color: #333;
  background-color: #fff;
  padding: 0 30px;
  border-radius: 5px;
}
#header .select-box select > option {
  text-align: center;
}

#simple .placeholder {
  color: #777;
  text-align: center;
}
#simple p {
  text-align: center;
}

button {
  width: 75px;
  height: 75px;
  background-color: hsl(0deg, 0%, 100%);
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
}
button.none {
  display: none;
}
button > div {
  width: 100%;
  height: 100%;
  border: 3px solid #555;
  border-radius: 100%;
  padding: 10px;
}
button > div svg {
  width: 100%;
  height: auto;
}
button.start-btn svg {
  color: #333;
}
button.stop-btn {
  display: none;
}
button.stop-btn svg {
  color: #ff0000;
}

#image .content-area > div {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}
#image .content-area > div::-webkit-scrollbar {
  display: none;
}